%p#notice= notice

%p
  = link_to '» Display all products for this category', category_products_path(category)
  %br
  %br

  %b Name:
  = category.name

  %ul
    - category.products.each do |product|
      %li= product.title

%p
  %h3 New product
  = render 'products/form'

= link_to 'Edit', edit_category_path(category)
\|
= link_to 'Back', categories_path, class: 'btn btn-primary'
