!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand
            = link_to 'Netguru Kraków Workshops 2014', root_path
        %p.navbar-text.navbar-right
          - if user_signed_in?
            Logged in as
            = succeed "." do
              %strong= current_user.firstname + ' ' + current_user.lastname
            |
            = link_to 'Edit your profile', edit_user_registration_path, :class => 'navbar-link'
            |
            \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
          - else
            = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
            |
            \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
    .container-fluid
      .row
        .col-lg-12
          - if notice
            %p.alert.alert-success= notice
          - if alert
            %p.alert.alert-danger= alert
          = yield
